@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$logoOrange: #F15421;
$lightBlue: #3CA5BF;
$textDkGray: #636363;
$textLtGray: #AEAEAE;
$backgroundGr: #F4F4F0;

$font1: 'Lora';
$font2: 'Oxygen';

@mixin margin($t-margin, $r-margin, $b-margin, $l-margin) {margin-top: $t-margin; margin-right: $r-margin; margin-bottom: $b-margin; margin-left: $l-margin;}
@mixin thingsFont($family, $serif, $size, $color, $weight) {font-family: $family, $serif; font-size: $size; color: $color; font-weight: $weight;}

body {
  font-size: 62.5%;
}

nav {
  border-bottom: 1px $textLtGray solid;
  -webkit-box-shadow: 0px 1px 1px $textLtGray;
  -moz-box-shadow: 0px 1px 1px $textLtGray;
  box-shadow: 0px 1px 1px $textLtGray;
}

.nav-left{
  margin-left: 15%;
  display: inline-block;

  .logo {
    @include thingsFont($font1, serif, 3.3em, $logoOrange, 400);
    padding-right: 0;
    margin-right: 15px;
    display: inline-block;
    vertical-align: -6px;

  }

  button {
   @include thingsFont($font2, serif, 1.4em, white, 400);
  }

  input {
    height: 1.83em;
    margin-right: -3px;
    vertical-align: 1px;
  }

  .search {
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    border-radius: 0 5px 5px 0;
  }

  .browse {
    color: $textDkGray;
    background-color: white;
    border: 1px solid $textLtGray;
    border-radius: 5px;
  }
}

.nav-right {
  @include thingsFont($font2, serif, 1.4em, $lightBlue, 400);
  margin-top: 10px;
  margin-right: 15%;
  display: inline-block;
  float: right;

  a {
    text-decoration: none;
    color: $lightBlue;
    display: inline-block;
    margin-right: 14px;
  }

  a:hover {
    text-decoration: underline;

  }

  button {
    background-color: white;
    border: 1px solid $lightBlue;
    border-radius: 5px;
    display: inline-block;
  }

  figure {
    border-left: 1px solid $textLtGray;
    display: inline-block;
    padding-left: 20px;
    vertical-align: -11px;
    margin-left: 20px;


    img {
      width: 23px;
    }

    figcaption {
      color: $textDkGray;
      font-size: 0.8em;
      padding-left: 3px;
    }
  }

}



