html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-size: 62.5%; }

nav {
  border-bottom: 1px #AEAEAE solid;
  -webkit-box-shadow: 0px 1px 1px #AEAEAE;
  -moz-box-shadow: 0px 1px 1px #AEAEAE;
  box-shadow: 0px 1px 1px #AEAEAE; }

.nav-left {
  display: inline-block; }

.nav-left .logo {
  font-family: "Lora", serif;
  font-size: 3.3em;
  color: #F15421;
  font-weight: 400; }

.main {
  background-color: #F4F4F0;
  height: 100%; }
