html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-size: 62.5%;
  background-color: #F4F4F0; }

nav {
  height: 78px;
  border-bottom: 1px #EEEEEE solid;
  -webkit-box-shadow: 0px 1px 1px #EEEEEE;
  -moz-box-shadow: 0px 1px 1px #EEEEEE;
  box-shadow: 0px 1px 1px #636363;
  background-color: white; }

.nav-left {
  margin-top: -11px;
  margin-left: 15%;
  display: inline-block; }

.nav-left .logo {
  font-family: "Lora", serif;
  font-size: 3.5em;
  color: #F15421;
  font-weight: 400;
  padding-right: 0;
  margin-right: 15px;
  display: inline-block;
  vertical-align: -6px; }

.nav-left button {
  font-family: "Oxygen", serif;
  font-size: 1.4em;
  color: white;
  font-weight: 400;
  padding: 7px 15px; }

.nav-left input {
  background-color: #FBFBFA;
  height: 2.8em;
  width: 230px;
  margin-right: -3px;
  vertical-align: 1px;
  border-radius: 3px 0 0 3px; }

.nav-left .search {
  background-color: #3CA5BF;
  border: 1px solid #3CA5BF;
  border-radius: 0 3px 3px 0; }

.nav-left .search:hover {
  background-color: #BDE6F0; }

.nav-left .browse {
  color: #636363;
  background-color: white;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-left: 15px; }

.nav-left .browse span {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #636363 transparent transparent transparent; }

.nav-right {
  font-family: "Oxygen", serif;
  font-size: 1.4em;
  color: #3CA5BF;
  font-weight: 400;
  margin-top: 5px;
  margin-right: 13%;
  display: inline-block;
  float: right; }

.nav-right a {
  text-decoration: none;
  color: #3CA5BF;
  display: inline-block;
  margin-right: 14px; }

.nav-right a:hover {
  text-decoration: underline; }

.nav-right button {
  background-color: white;
  border: 1px solid #3CA5BF;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 10px; }

.nav-right button:hover {
  background-color: #BDE6F0; }

.nav-right figure {
  border-left: 1px solid #EEEEEE;
  display: inline-block;
  padding-left: 13px;
  vertical-align: -11px;
  margin-left: 13px; }

.nav-right figure img {
  width: 23px; }

.nav-right figure figcaption {
  color: #636363;
  font-size: 0.8em;
  padding-left: 3px; }

section {
  float: clear;
  width: 100%;
  margin: 0;
  margin-left: 35px; }

section aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-top: 66px;
  margin-left: 33px;
  margin-right: 0; }

section aside:last-child {
  margin-right: 0; }

section aside ul {
  background-color: white; }

section aside ul li {
  list-style-type: none; }

section aside ul li a {
  font-family: "Oxygen", serif;
  font-size: 1.3em;
  color: #3CA5BF;
  font-weight: 400;
  text-decoration: none; }

section article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-top: 44px; }

section article:last-child {
  margin-right: 0; }

section article .listing {
  font-family: "Oxygen", serif;
  font-size: 1.3em;
  color: #636363;
  font-weight: 400; }

section article .listing li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: white;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #EEEEEE; }

section article .listing li:last-child {
  margin-right: 0; }

section article .listing li:last-child {
  margin-right: 1px; }

section article .listing img {
  width: 100%;
  overflow: hidden; }

section article .listing .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 5px; }

section article .listing .seller {
  display: inline-block;
  float: left;
  color: #B2B2B0;
  margin-top: 5px;
  padding-left: 5px; }

section article .listing .price {
  display: inline-block;
  color: #73BD4B;
  float: right;
  margin-top: 5px;
  padding-right: 7px; }
