@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$logoOrange: #F15421;
$lightBlue: #3CA5BF;
$lightBlueHover: #BDE6F0;
$textDkGray: #636363;
$textLtGray: #EEEEEE;
$backgroundGr: #F4F4F0;

$font1: 'Lora';
$font2: 'Oxygen';

@mixin margin($t-margin, $r-margin, $b-margin, $l-margin) {margin-top: $t-margin; margin-right: $r-margin; margin-bottom: $b-margin; margin-left: $l-margin;}
@mixin thingsFont($family, $serif, $size, $color, $weight) {font-family: $family, $serif; font-size: $size; color: $color; font-weight: $weight;}

body {
  font-size: 62.5%;
  background-color: $backgroundGr;

}

nav {
  height: 78px;
  border-bottom: 1px $textLtGray solid;
  -webkit-box-shadow: 0px 1px 1px $textLtGray;
  -moz-box-shadow: 0px 1px 1px $textLtGray;
  box-shadow: 0px 1px 1px $textDkGray;
  background-color: white;
}

.nav-left{
  margin-top: -11px;
  margin-left: 15%;
  display: inline-block;

  .logo {
    @include thingsFont($font1, serif, 3.5em, $logoOrange, 400);
    padding-right: 0;
    margin-right: 15px;
    display: inline-block;
    vertical-align: -6px;

  }

  button {
   @include thingsFont($font2, serif, 1.4em, white, 400);
   padding: 7px 15px;
  }

  input {
    background-color: #FBFBFA;
    height: 2.8em;
    width: 230px;
    margin-right: -3px;
    vertical-align: 1px;
    border-radius: 3px 0 0 3px;
  }

  .search {
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    border-radius: 0 3px 3px 0;
  }

  .search:hover {
    background-color: $lightBlueHover;
  }

  .browse {
    color: $textDkGray;
    background-color: white;
    border: 1px solid $textLtGray;
    border-radius: 3px;
    margin-left: 15px;

    span {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: $textDkGray transparent transparent transparent;
    }
  }

}

.nav-right {
  @include thingsFont($font2, serif, 1.4em, $lightBlue, 400);
  margin-top: 5px;
  margin-right: 13%;
  display: inline-block;
  float: right;

  a {
    text-decoration: none;
    color: $lightBlue;
    display: inline-block;
    margin-right: 14px;
  }

  a:hover {
    text-decoration: underline;

  }

  button {
    background-color: white;
    border: 1px solid $lightBlue;
    border-radius: 3px;
    display: inline-block;
    padding: 7px 10px;
  }

  button:hover {
    background-color: $lightBlueHover;
  }

  figure {
    border-left: 1px solid $textLtGray;
    display: inline-block;
    padding-left: 13px;
    vertical-align: -11px;
    margin-left: 13px;


    img {
      width: 23px;
    }

    figcaption {
      color: $textDkGray;
      font-size: 0.8em;
      padding-left: 3px;
    }
  }
}

section {
  float: clear;
  width: 100%;
  margin: 0;
  margin-left: 35px;

  aside {
    @include span-columns(3);
    margin-top: 66px;
    margin-left: 33px;
    margin-right: 0;

    ul {
      background-color: white;

      li {
        list-style-type: none;

        a {
          @include thingsFont($font2, serif, 1.3em, $lightBlue, 400);
          text-decoration: none;
        }
      }
    }

  }

  article {
    @include span-columns(9);
    margin-top: 44px;


    .listing {
      @include thingsFont($font2, serif, 1.3em, $textDkGray, 400);

      li {
        @include span-columns(3);
        // @include omega(3);
        background-color: white;
        border: 1px solid $textLtGray;
        border-radius: 3px;
        margin-top: 20px;
        box-shadow: 2px 2px 2px $textLtGray;

        &:last-child{
          margin-right: 1px;
        }
      }

      img {
        width: 100%;
        overflow: hidden;
      }

      .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        list-style-type: none;
        overflow: hidden;
        margin-bottom: 0;
        padding-left: 5px;
      }

      .seller {
        display: inline-block;
        float: left;
        color: #B2B2B0;
        margin-top: 5px;
        padding-left: 5px;

      }

      .price {
        display: inline-block;
        color: #73BD4B;
        float: right;
        margin-top: 5px;
        padding-right: 7px;

      }
    }
  }
}









